.container {
  padding: 20px 50px;
  background: white;
  margin: 0;
  padding-bottom: 60px;
}
.container h2 {
  text-align: left;
}

input[type="range"] {
  accent-color: coral;
}
.flex {
  display: flex;
}
.leftBord {
  height: 620px;
  padding: 20px 30px;
  text-align: left;
  background-color: #f2f0f3;
}
.leftBord button {
  background-color: #444a58;
  width: 100%;
  padding: 15px 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}
.podbor h4 {
  font-size: 18px;
  font-weight: 500;
}
.but {
  background-color: #f2f0f3 !important;
  color: black !important;
}
.rightBord {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gridBord {
  display: grid;
}
.gridBord button {
  margin-top: 40px;
  background-color: #f24f50;
  border-radius: 10px;
  padding: 20px 50px;
  color: white;
}
.flexSize {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.flexSize button {
  padding: 10px;
}
.new {
  background-color: #f24f50 !important;
  border: 0px !important;
}

@media (max-width: 1921px) {
}
@media (max-width: 1641px) {
}
@media (max-width: 1281px) {
}
@media (max-width: 821px) {
}
@media (max-width: 769px) {
}
@media (max-width: 481px) {
  .rightBord {
    height: 800px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    overflow-y: scroll;
    border-bottom: 4px solid black;
  }
  .leftBord {
    height: 620px;
    padding: 20px 30px;
    text-align: left;
    background-color: #f2f0f3;
  }
  .podbor {
    width: 120px;
  }
  .podbor h4 {
    font-size: 14px;
    font-weight: 500;
  }
  .flexSize button {
    font-size: 12px;
    padding: 5px;
  }
  .pol div input {
    font-size: 8px;
  }
  .gridBord button {
    margin-top: 40px;
    margin-left: -300px;
    background-color: #f24f50;
    border-radius: 10px;
    padding: 20px 50px;
    color: white;
  }
}
