.container {
  background-color: #484184;
}
.main {
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
  text-align: left;
  display: flex;
  color: white;
  padding-bottom: 100px;
}
.main h1 {
  font-size: 44px;
  text-align: justify;
}
.main p {
  width: 580px;
  font-size: 18px;
  color: #9693b7;
  padding-bottom: 40px;
}
.top_pad {
  width: 680px;
  padding-top: 40px;
  z-index: 1;
}
.top_pad a {
  z-index: 1;
  background-color: #f24f50;
  color: white;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 10px;
}

.text img {
  position: absolute;
  z-index: 0;
  margin-top: -280px;
  margin-left: -430px;
  width: 960px;
}

@media (max-width: 1921px) {
}
@media (max-width: 1641px) {
}
@media (max-width: 1281px) {
}
@media (max-width: 821px) {
  .text img {
    margin-top: -260px;
    margin-left: -380px;
    width: 760px;
    height: 100px;
  }
}
@media (max-width: 481px) {
  .top_pad {
  }
  .top_pad h1 {
    width: 300px;
    font-size: 18px;
  }
  .top_pad p {
    width: 300px;
    font-size: 14px;
  }
  .top_pad a {
    font-size: 14px;
    padding: 15px 20px;
  }
  .text img {
    margin-top: -380px;
    margin-left: -100px;
    width: 200px;
    height: 100px;
  }
}
